/* Navigation Bar */
nav {
    background-color: #292075;
    padding: 20px;
    color: #ffffff;
}
/* Title in Navigation Bar */
.home {
    text-decoration: none;
    color: #ffffff;
}
/* Main Section */
.main {
    text-align: center;
    background-color: #00b5ef;
    color: #000000;
    padding: 20px;
}
/* Button */
.button {
    background-color: #292075;
    color: #ffffff;
}
/* Form Input */
input {
    max-width: 330px;
    margin: auto;
}
/* Form Labels */
label {
    font-weight: bold;
}
/* Carousel */
.carousel{
    background-color: #292075;
}
/* Carousel Inner */
.carousel-inner {
    margin: auto;
    max-width: 75%;
}
/* Contact Section */
.contact {
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}